html,
body {
    height: 100%;
    width: 100%;

    scroll-behavior: auto;


}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    margin: 5rem;


}

#top-spacer{

    padding: 1rem;
    margin: 1rem;
}


#main-container {
    background-color: blanchedalmond;
    padding: 2rem;
    margin: 5rem;
}

#title {
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    border-radius: 10rem;
    margin-bottom: 4rem;

    text-align: center;

}

#title-2 {
    background-color: yellow;
    color: black;
    border-radius: .2rem;
    padding: .2rem;
}


#question-title{

    padding: 1rem;
    margin: 1rem;
}


#checkAnswer{

    padding: 2rem;

}


.option-body{
    padding: 1rem;
    background-color: lightgray;

    display: block;
    width: 50%;
    max-width: 80%;
    min-width: 50%;
}

.opt-group{

    /*flex: 0 0 50px;*/
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.opt{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem 2rem;
    margin: .2rem;
    border: thin salmon solid;

    transition-property: all;
    transition-duration: .5s;
}


.opt:hover{

    background-color: cornflowerblue;
}


.opt-opt{

    display: none;
}

.opt-opt:checked{

    /*appearance: auto;*/

}


.opt-text{

    text-align: center;

    display: inline-block;
    width: 5rem;
    user-select: none;

    transition-property: all;
    transition-duration: .4s;
}


.opt-opt:checked ~ .opt-text{

    padding: 1rem;

}



.checked-opt{

    background-color: pink;
}












