<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/make.css">

    <title>Make Quiz</title>
</head>

<body>

        <div id="header">
            <div id="header-text" onclick="window.location.href = '/'">
                <span id="header-text-1">Quiz</span>
                <span id="header-text-2">Hub</span>
            </div>
        </div>

      
        <div id="main-container">

            <div id="form-custom">

              
              <div id="form-cnt">
                <form method="POST" action="" id="form">

                  <div class="input-grp">
                  {{ form.hidden_tag() }}

                  <div class="input-grp">
                    {{ form.quizName.label }} 
                    {{ form.quizName() }}
                  </div>

                  <div class="input-grp">
                    {{ form.q.label }} 
                    {{ form.q() }}
                  </div>

                  <div class="input-grp">
                    {{ form.opt1.label }} 
                    {{ form.opt1() }}
                  </div>

                  <div class="input-grp">
                    {{ form.opt2.label }} 
                    {{ form.opt2() }}
                  </div>

                  <div class="input-grp">
                    {{ form.opt3.label }} 
                    {{ form.opt3() }}
                  </div>

                  <div class="input-grp">
                    {{ form.opt4.label }} 
                    {{ form.opt4() }}
                  </div>

                  <div class="input-grp">
                    {{ form.ans.label }} 
                    {{ form.ans() }}
                  </div>

                  <div class="input-grp">
                    {{form.submit}}
                  </div>
                  
                </form>
              </div>
              <div id="out">
                <p>{{name}}</p>
              </div>

            </div>

</body>

</html>


