<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/quiz.css">

    <title>Quiz</title>
</head>

<body>

    <div id="top-spacer"></div>
    <!-- <div id="tri" onclick="sl3()" onCopy="sl1()">Texsat</div> -->
    <div id="main-container">

        <div id="title">
            <span id="title-1">Quiz</span>
            <span id="title-2">Hub</span>
        </div>

        <div id="form-custom">

            <div id="question-title"></div>

            <div id="option-body">

                <div class="opt-group">
                    <label class="opt">
                        <input type="radio" name="opts" class="opt-opt"/>
                        <span class="opt-text" >1</span>
                    </label>
                </div>

                <div class="opt-group">
                    <label class="opt">
                        <input type="radio" name="opts" class="opt-opt" />
                        <span class="opt-text" >2</span>
                    </label>
                </div>

                <div class="opt-group">
                    <label class="opt">
                        <input type="radio" name="opts" class="opt-opt" />
                        <span class="opt-text" >3</span>
                    </label>
                </div>

                <div class="opt-group">
                    <label class="opt">
                        <input type="radio" name="opts" class="opt-opt" />
                        <span class="opt-text" >4</span>
                    </label>
                </div>

            </div>

        </div>

        <div>
            <button onclick="checkAnswer()" id="checkAnswer">Check</button>
            <span id="answer">Not Checed</span>
        </div>

    </div>


    <div>
        <button onclick="reloadQuestion()" style="padding: 5rem;user-select: none;">Updata</button>
    </div>

    <div id="output"></div>

    <script src="../static/js/quiz.js"></script>

</body>

</html>