html,
body {
    height: 101%;
    width: 101%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    position: relative;

    background-image: linear-gradient(-45deg, orange, darkcyan, purple, seagreen) ;
    background-size: 400% 400%;
    animation: gradient 25s ease-in-out infinite;

}



a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


#header{

    display: flex;
    position: fixed;
 
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    height: 5vh;
    width: 99vw;

    background-color: darkslategray;

    color: white;
    padding: 1rem;
    font-size: 2rem;

    /*border-top: thin slategray solid;*/
    border-bottom: thick gray outset;
}


#header-text-2{
    background-color: rgb(247,148,0);
    border-radius: 1rem;
    padding: .5rem;
}

#main-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 95vh;
    /* background-color: antiquewhite; */
}

.li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: 3rem;
    width: 5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: tomato;
    border: thick darkslategray outset;
    border-radius: 1rem;
    transition-property: all;
    transition-duration: .4s;
}

.li:hover {
    background-color: cornflowerblue;
    padding: 5rem;
    font-size: 2rem;
    color: gainsboro;
    border: thin salmon solid;
}



@keyframes gradient {

    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 99% 50%;
    }

    100%{
        background-position: 50% 0%;
    }

}