html,
body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    margin: 5rem;
    user-select: none;
}

#top-spacer {
    padding: 1rem;
    margin: 1rem;
}

#header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 5vh;
    width: 99%;
    /*margin-bottom: 10px;*/
    background-color: darkslategray;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    /*border-top: thin slategray solid;*/
    border-bottom: thick gray outset;
}

#header-text-2 {
    background-color: rgb(247, 148, 0);
    border-radius: 1rem;
    padding: .5rem;
}

#top-container {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    flex-basis: 99vw;
    background-color: cornflowerblue;
    overflow-x: hidden;
}

#form-custom {
    display: block;
    /*align-items: center;
    justify-content: center;*/
    flex-direction: column;
    flex-basis: 90vw;
    flex-grow: 0;
    padding: 2rem;
    overflow: hidden;
    background-color: pink;
}

#question-id {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium';
}

#question-title {
    /*background-color: cornflowerblue;*/
    border: thin darkgray solid;
    border-radius: 2rem;
    padding: .5rem;
    margin: .5rem;
}

#checkAnswer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#checkAnswer-btn {
    padding: 2rem;
}

.option-body {
    padding: 1rem;
    background-color: black;
    display: block;
    width: 50%;
    max-width: 80%;
    min-width: 50%;
}

.opt-group {
    /*flex: 0 0 50px;*/
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opt-group:hover {
    color: slateblue;
}

.opt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: .2rem;
    border: thin salmon solid;
    transition-property: all;
    transition-duration: .5s;
}

.opt:hover {
    background-color: cornflowerblue;
}

.opt-opt {
    display: none;
}


/* .opt-opt:checked {
    appearance: auto;
} */

.opt-text {
    text-align: center;
    display: inline-block;
    width: 5rem;
    user-select: none;
    transition-property: all;
    transition-duration: .4s;
}

.opt-opt:checked~.opt-text {
    padding: 1rem;
}

.checked-opt {
    background-color: pink;
}